body {
  background-image: url(https://media.gettyimages.com/id/172872767/photo/cards.jpg?s=612x612&w=gi&k=20&c=fj_7xvanHgAgoj478iafuOSCVOhqNurW92lMmuSgXwY=);

  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-size: cover;
}
#header {
  position: absolute;
  top: 10%;
  left: 07%;
  bottom: 50%;
  right: 10%;
  text-align: center;
  font-size: 300%;
}
h1 {
  font-weight: 900;
  font-size: 500%;
  color: goldenrod;
}
p {
  font-weight: 700;
  /* font-size: 160%; */
  color: rgb(10, 149, 128);
}
#message-el {
  font-style: italic;
}
#start-game {
  background: goldenrod;
  width: 150px;
  color: #016f32;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold;
  border: none;
  border-radius: 2px;
}
#new-card {
  background: goldenrod;
  width: 150px;
  color: #016f32;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold;
  border: none;
  border-radius: 2px;
}
#player-el {
  font-size: 30px;
  margin-top: 110px;
  color: #070707;
  margin-right: 64px;
}
